{% extends '__base__.html' %}

{% block title %}{{ blog.name }}{% endblock %}

{% block beforehead %}

    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
    
{% endblock %}

{% block content %}
    <div class="uk-grid">
    <div class="uk-width-expand">
        <article class="uk-article">
            <h3>{{ blog.name }}</h3>
            <p class="uk-article-meta">Posted{{ blog.created_at|datetime }}
            <span id="busuanzi_container_page_pv" class="uk-margin-small-left">Views <span id="busuanzi_value_page_pv"></span></span>
            </p>
            <p>{{ blog.html_content|safe }}</p>
        </article>
        <hr>
        <div id="adb-comments"></div>
        <script>
        new Valine({
            el: '#adb-comments' ,
            appId: 'yOh6osJCPwYE5iPogVER2fGn-gzGzoHsz',
            appKey: 'Y6buYFx7Qp61y3tjqScrQwzs',
            notify:true, 
            verify:true, 
            placeholder: 'Shot your comment! (๑ÒωÓ๑)',
            meta: ['nick','mail'],
            avatar:'retro',
            lang: 'en' 
        });
        </script>  
    </div>

    <div class="uk-width-1-4 uk-visible@m">

        <div class="uk-text-center">
            <img class="uk-border-circle" width="120" height="120" src="{{ blog.user_image }}">
            <h5>    </h5>
            <li><a class="uk-link-muted" target="_blank" href="https://aodabo.tech/blog/00154705114712872bf1af8897f4171813cdfe5fd956858000">Aodabo | 杨志远</a></li>
            <h5>    </h5>
            <h5>    </h5>
        </div>

        <h4>分类标签</h4>
            <ul class="uk-list">
                    <li><a class="uk-link-muted" target="_blank" href="/tags/web">Python Web Dev(20)</a></li>
                    <li><a class="uk-link-muted" target="_blank" href="/tags/arduino">Arduino Projects(6)</a></li>
                    <li><a class="uk-link-muted" target="_blank" href="/tags/unity">Unity3D Projects(5)</a></li>
                    <li><a class="uk-link-muted" target="_blank" href="/tags/landscape">Landscape Projects(8)</a></li>
            </ul>

        <h4>亲密链接</h4>
            <ul class="uk-list">
                    <li><a class="uk-link-muted" target="_blank" href="http://www.davidzyang.com/">Secret | 镜像</a></li>
                    <li><a class="uk-link-muted" target="_blank" href="http://lilidai-landscape.com/">Lilidai | 一半</a></li>
                    <li><a class="uk-link-muted" target="_blank" href="https://www.jiumodiary.com/">Reading | 书源</a></li>
            </ul>

    </div>

    </div>

    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
{% endblock %}
