{% extends '__base__.html' %}

{% block title %}{{ blog.name }}{% endblock %}

{% block beforehead %}

    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
    
{% endblock %}

{% block content %}
    <div class="uk-grid  uk-visible@m">
    <div class="uk-width-3-4">
        <article class="uk-article">
            <h2>{{ blog.name }}</h2>
            <p class="uk-article-meta">发表于{{ blog.created_at|datetime }}
            </p>
            <p>{{ blog.html_content|safe }}</p>
        </article>
        <hr>
        <div id="adb-comments"></div>
        <script>
        new Valine({
            el: '#adb-comments' ,
            appId: 'yOh6osJCPwYE5iPogVER2fGn-gzGzoHsz',
            appKey: 'Y6buYFx7Qp61y3tjqScrQwzs',
            notify:false, 
            verify:false, 
            placeholder: 'ヾﾉ≧∀≦)o来啊，快活啊!',
            meta: ['nick','mail'] 
        });
        </script>  
    </div>

    <div class="uk-width-1-4 uk-visible@m">
        <div class="uk-card uk-card-default">
            <div class="uk-card-body">
            <div class="uk-text-center">
                <img class="uk-border-circle" width="120" height="120" src="{{ blog.user_image }}">
                <h4>{{ blog.user_name }}</h4>
            </div>
            </div>
        </div>
    </div>
    </div>

    <div class="uk-hidden@m">
        <article class="uk-article">
            <h3>{{ blog.name }}</h3>
            <p class="uk-article-meta">发表于{{ blog.created_at|datetime }}
            <span id="busuanzi_container_page_pv""> 浏览量 <span id="busuanzi_value_page_pv"></span></span>
            </p>
            <p>{{ blog.html_content|safe }}</p>
        </article>

        <hr>
        <div id="adb-comments"></div>
        <script>
        new Valine({
            el: '#adb-comments' ,
            appId: 'yOh6osJCPwYE5iPogVER2fGn-gzGzoHsz',
            appKey: 'Y6buYFx7Qp61y3tjqScrQwzs',
            notify:false, 
            verify:false, 
            avatar:'retro',
            placeholder: 'ヾﾉ≧∀≦)o来啊，快活啊!',
            meta: ['nick','mail'] 
        });
        </script>  
    </div>

    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
{% endblock %}
