{% extends '__base__.html' %}

{% block title %}凹大卜{% endblock %}

{% block beforehead %}

{% endblock %}

{% block content %}
    <div class="uk-grid">
    <div class="uk-width-expand">
    {% for blog in blogs %}
        <article class="uk-article">
            <h4><a class="uk-link-heading" href="/blog/{{ blog.id }}">{{ blog.name }}</a></h4>
            <p class="uk-article-meta">发表于{{ blog.created_at|datetime }}</p>
            <p>{{ blog.summary }}</p>
            <p><a class="uk-link-muted" href="/blog/{{ blog.id }}">继续阅读 <i class="uk-icon-angle-double-right"></i></a></p>
        </article>
        <hr>
    {% endfor %}
    {{ pagination(page) }}
    </div>

    <div class="uk-width-1-4 uk-visible@m">
            <h4>站内搜索</h4>
            <FORM method=GET action="https://www.google.com/search">
                <div class="uk-inline">
                    <a class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="search"></a>
                    <INPUT class="uk-input" TYPE=text name=q placeholder="站内搜索" size=31 maxlength=255 value="">
                </div>
                <font size=-1>
                    <INPUT TYPE=hidden name=domains value="aodabo.tech"><br>
                    <INPUT TYPE=hidden name=sitesearch value="aodabo.tech"></br>
                </font>
                <button TYPE=submit name=btnG class="uk-button uk-button-default"> SEARCH</button>

            </FORM>


            <h4>亲密链接</h4>
            <ul class="uk-list uk-list-divider">
                    <li><a class="uk-link-muted" target="_blank" href="http://www.davidzyang.com/">Secret/镜像</a></li>
                    <li><a class="uk-link-muted" target="_blank" href="http://lilidai-landscape.com/">Lilidai/景观</a></li>
                    <li><a class="uk-link-muted" target="_blank" href="https://www.jiumodiary.com/">Reading/读书</a></li>
            </ul>

            <h4>访问统计</h4>
            <span id="busuanzi_container_site_pv">总访问量 <span id="busuanzi_value_site_pv"></span></span>
    </div>
    </div>

    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
{% endblock %}
