{% extends '__base__.html' %}

{% block title %}{{ blog.name }}{% endblock %}

{% block beforehead %}

{% endblock %}

{% block content %}
    <div class="uk-grid">
    <div class="uk-width-expand">
        <article class="uk-article">
            <h3>{{ blog.name }}</h3>
            <p class="uk-article-meta">Posted{{ blog.created_at|datetime }}
            <span id="busuanzi_container_page_pv" class="uk-margin-small-left">Views <span id="busuanzi_value_page_pv"></span></span>
            </p>
            <p>{{ blog.html_content|safe }}</p>
        </article>
        <hr>

        <!--
        <script src='/static/js/av-min.js'></script>
        <script src='/static/js/valine.min.js'></script>
        -->
        <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
        <div id="adb-comments"></div>
        <script>
        new Valine({
            el: '#adb-comments' ,
            appId: 'yOh6osJCPwYE5iPogVER2fGn-gzGzoHsz',
            appKey: 'Y6buYFx7Qp61y3tjqScrQwzs',
            notify: false, 
            verify: false, 
            placeholder: 'Shot your comment! (๑ÒωÓ๑)',
            meta: ['nick','mail'],
            avatar:'retro',
            lang: 'en' 
        });
        </script>

    </div>


    <div class="uk-width-1-4 uk-visible@m">

        <div class="uk-text-center">
            <img class="uk-border-circle" width="120" height="120" src="https://www.gravatar.com/avatar/f73911268c7b1cfa458988828ed89d80?d=mm&s=120">
            <h5>    </h5>
            <li><a class="uk-link-muted" target="_blank" href="https://aodabo.tech/blog/00154705114712872bf1af8897f4171813cdfe5fd956858000">Aodabo | 杨志远</a></li>
            <h5>    </h5>
            <h5>    </h5>
        </div>

        <h4>分类标签</h4>
            <p uk-margin>
                <a class="uk-button uk-button-default uk-button-small" target="_blank" href="/tags/web">Python</a>
                <a class="uk-button uk-button-default uk-button-small" target="_blank" href="/tags/web">Web</a>
                <a class="uk-button uk-button-default uk-button-small" target="_blank" href="/tags/arduino">Arduino</a>
                <a class="uk-button uk-button-default uk-button-small" target="_blank" href="/tags/unity">Unity3D</a>
                <a class="uk-button uk-button-default uk-button-small" target="_blank" href="/tags/unity">Game Dev</a>
                <a class="uk-button uk-button-default uk-button-small" target="_blank" href="/tags/led">LED</a>
                <a class="uk-button uk-button-default uk-button-small" target="_blank" href="/tags/arvr">AR+VR</a>
                <a class="uk-button uk-button-default uk-button-small" target="_blank" href="/tags/gis">GIS</a>
                <a class="uk-button uk-button-default uk-button-small" target="_blank" href="/tags/landscape">Landscape</a>
                <a class="uk-button uk-button-default uk-button-small" target="_blank" href="/tags/modeling">3D Modeling</a>
                <a class="uk-button uk-button-default uk-button-small" target="_blank" href="/tags/photo">Photography</a>
                <a class="uk-button uk-button-default uk-button-small" target="_blank" href="/tags/landscape">Design</a>
                <a class="uk-button uk-button-default uk-button-small" target="_blank" href="/tags/sound">Sound</a>
                <a class="uk-button uk-button-default uk-button-small" target="_blank" href="/tags/about">About</a>
            </p>

        <!-- <h4>友情链接</h4>
            <ul class="uk-list">
                    <li><a rel="noopener" class="uk-link-muted" target="_blank" href="http://lilidai-landscape.com/">Lilidai</a></li>
                    <li><a rel="noopener" class="uk-link-muted" target="_blank" href="https://alili.tech/">前端大爆炸</a></li>
                    <li><a rel="noopener" class="uk-link-muted" target="_blank" href="http://www.yooongchun.com/">永春小站</a></li>
            </ul> -->

    </div>

    </div>

    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
{% endblock %}
