<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0">
    <meta name="wap-font-scale" content="no">
    <title>LOOP STUDIO | TEAM</title>
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/uikit-icons.min.js"></script>
</head>
<body>
<div class="uk-container">
        <nav class="uk-navbar-container uk-navbar-transparent uk-margin-medium-bottom" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li><a aria-label="icon" href="/loop/index"><img src="https://i.postimg.cc/Y9khtDYX/Asset-3loop4.png" alt=""></a></li>

                </ul>
            </div>
            <div class="uk-navbar-right uk-visible@s">
            <ul class="uk-navbar-nav">
                    <li class="uk-text-bold"><a href="/loop/index">projects</a></li>
                    <li class="uk-text-bold"><a href="/loop/about">team</a></li>
                    <li class="uk-text-bold">
                        <a href="/loop/about">about</a>
                    </li>
            </ul>
            </div>

            <div class="uk-navbar-right uk-hidden@s">
            <ul class="uk-navbar-nav">
            <li>
            <a class="uk-navbar-toggle" uk-toggle="target: #offcanvas-slide" ratio="2.0" uk-navbar-toggle-icon></a>

            <div id="offcanvas-slide" uk-offcanvas="overlay: true">
            <div class="uk-offcanvas-bar uk-flex uk-flex-column">
            <ul class="uk-nav uk-nav-primary uk-margin-auto-vertical">
                <li class="uk-text-bold uk-active"><a href="#">LOOP STUDIO</a></li>
                <li class="uk-nav-divider uk-parent">
                    <ul class="uk-nav-sub uk-margin-top">
                    <li><a href="/loop/index">Projects</a></li>
                    <li><a href="/loop/about">Team</a></li>
                    <li><a href="/loop/about">About</a></li>
                    </ul>
                </li>
            </ul>
            </div>
            </div>
            </li>
            </ul>
            </div>
        </nav>

<div class="uk-container" uk-grid>

<div class="uk-width-1-3@s">
    <img width="400" height="400" src="https://i.postimg.cc/j2tdrWVB/wen-head.png">
</div>
<div class="uk-width-2-3@s">
<article class="uk-article uk-margin-bottom uk-width-3-4@s">
    <h4 class="uk-margin-large-top uk-text-muted uk-text-bold uk-visible@l">WENXIN LI</h4>
    <h4 class="uk-margin-remove-top uk-text-muted uk-text-bold uk-hidden@l">WENXIN LI</h4>
    <p class="uk-text-meta">Principle of LOOP, Ecology Consultant</p>
    <p class="uk-text-muted">Wenxin Li received her Master degree in Landscape Architecture from Rhode Island School of Design, where she had the chance to extend knowledge out side the design into photography and arts.  Earlier, she own her bachelor of agriculture from Nanjing Forestry University. Based on her diverse and trans-disciplinary experience, her interest addresses the possibility of integrating landscape architecture and arts to create minimalism landscape in urban realm. </p>
</article>
</div>

<div class="uk-width-1-3@s">
    <img width="400" height="400" src="https://i.postimg.cc/76rWB008/meng-head.png">
</div>
<div class="uk-width-2-3@s">
<article class="uk-article uk-margin-bottom uk-width-3-4@s">
    <h4 class="uk-margin-large-top uk-text-muted uk-text-bold uk-visible@l">JUNO WANG</h4>
    <h4 class="uk-margin-remove-top uk-text-muted uk-text-bold uk-hidden@l">JUNO WANG</h4>
    <p class="uk-text-meta">Design Associate, Urban Planning Manager</p>
    <p class="uk-text-muted">Meng Wang graduated from Rhode Island School in 2019 with MLA diploma.  Her interest focuses on urban and public spaces design. She would like use all her knowlege in landscape, plants, ecology and urbanism to activate vivid daily life, stimulate artful creative activities, protect environment for future.</p>
</article>
</div>

<div class="uk-width-1-3@s">
    <img width="400" height="400" src="https://i.postimg.cc/HLyN4BJ9/qing-head.png">
</div>
<div class="uk-width-2-3@s">
<article class="uk-article uk-margin-bottom uk-width-3-4@s">
    <h4 class="uk-margin-large-top uk-text-muted uk-text-bold uk-visible@l">LIKI LI</h4>
    <h4 class="uk-margin-remove-top uk-text-muted uk-text-bold uk-hidden@l">LIKI LI</h4>
    <p class="uk-text-meta">Design Associate, Art Consultant</p>
    <p class="uk-text-muted">Qing Li earned her Masters of Landscape Architecture from the Rhode Island of Design, Influenced by her experiences that studying art design throughout her undergraduate study, she is interested in translating human vitality into the landscape through artistic approach, thinking the relationship between interdisciplinary collaboration as a way to reviving humanity in urban public space. Exploring the interactive possibles among interior design, environmental art, installation and exhibition. </p>
</article>
</div>

<div class="uk-width-1-3@s">
    <img width="400" height="400" src="https://i.postimg.cc/CxGVrz88/shuang-head.png">
</div>
<div class="uk-width-2-3@s">
<article class="uk-article uk-margin-bottom uk-width-3-4@s">
    <h4 class="uk-margin-large-top uk-text-muted uk-text-bold uk-visible@l">XINSHUANG WANG</h4>
    <h4 class="uk-margin-remove-top uk-text-muted uk-text-bold uk-hidden@l">XINSHUANG WANG</h4>
    <p class="uk-text-meta">Marketing Associate, Social Media Manager</p>
    <p class="uk-text-muted">Xinshuang Wang, a landscape architect with multiple interests and background. As a Journalism and Communication graduate, she has profound vision on sociology, anthropology, and social psychology. She likes to bring cultural and humanistic insights into her design to make the physical spaces warmer and deeper. She is also interested in visualizing these elements through photography, sculptures and art installations. As a former advertising planner in Tianjin TV Station, she is also good at advertising and marketing. </p>
</article>
</div>

<div class="uk-width-1-3@s">
    <img width="400" height="400" src="https://i.postimg.cc/KznvVPWn/zhi-head.png">
</div>
<div class="uk-width-2-3@s">
<article class="uk-article uk-margin-bottom uk-width-3-4@s">
    <h4 class="uk-margin-large-top uk-text-muted uk-text-bold uk-visible@l">DAVID YANG</h4>
    <h4 class="uk-margin-remove-top uk-text-muted uk-text-bold uk-hidden@l">DAVID YANG</h4>
    <p class="uk-text-meta">Technical Associate, Project Manager</p>
    <p class="uk-text-muted">Technical Leader in LOOP with strong skill sets of 3D modeling software, web development and game development. He is crazy about new technologies, like Hyper Reality and Machine Learning. He believes technology-lead design would be the trend for future. </p>
</article>
</div>

</div>

<div class="uk-margin-large-top uk-margin-large-bottom">
<h1 class="uk-text-muted uk-text-bold uk-text-center">Join Loop Now!</h1>
</div>

<div class="uk-margin-large-top uk-margin-medium-bottom">
<div class="uk-container uk-container-center uk-text-center">
    <p>
        <a rel="noopener" target="_blank" aria-label="Github" href="https://github.com/yzyly1992" class="uk-icon-button uk-margin-small-right" ratio="1.1" uk-icon="github"></a>
        <a rel="noopener" target="_blank" aria-label="Instagram" href="https://www.instagram.com/yzyly/" class="uk-icon-button uk-margin-small-right" ratio="1.1" uk-icon="instagram"></a>
        <a rel="noopener" target="_blank" aria-label="Netease" href="https://music.163.com/#/user/home?id=41506683" class="uk-icon-button uk-margin-small-right" ratio="1.2" uk-icon="netease"></a>
        <a rel="noopener" target="_blank" aria-label="Weibo" href="https://www.weibo.com/208883610" class="uk-icon-button uk-margin-small-right" ratio="1.2" uk-icon="weibo"></a>
        <a rel="noopener" target="_blank" aria-label="Linkedin" href="https://www.linkedin.com/in/zhiyuan-yang-9204b8134/" class="uk-icon-button uk-margin-small-right" ratio="1.1" uk-icon="linkedin"></a>
    </p>
    <p class="uk-text-meta" style="line-height: 10px; padding: 10px 0; margin: 8px 0;">Powered by <a href="https://aodabo.tech/loop/index">LOOP Studio</a> Copyright &copy; 2019.</p>
    <p class="uk-text-meta" style="line-height: 0px; padding: 0px 0; margin: 0px 0;"><a href="https://aodabo.tech/" target="_blank">LOOP Studio</a>. All rights reserved.</p>
</div>
</div>

</body>