<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0">
    <meta name="wap-font-scale" content="no">
    <title>LOOP STUDIO | FUTURE LANDSCAPE</title>
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/uikit-icons.min.js"></script>
</head>
<body>

<div class="uk-position-relative uk-visible-toggle uk-light uk-visible@s" tabindex="-1" uk-slideshow="animation: push">
    <ul class="uk-slideshow-items">
    <li>
    <video loop muted playsinline uk-video="autoplay: inview" class="uk-width-1-1">
    <source src="https://drive.google.com/uc?export=download&id=1Nwcko67jOd1YbRGe7oplvgnDf-FfOInD" type="video/mp4">
    </video>
    </li>
    <li>
    <img class="uk-width-1-1" src="https://i.postimg.cc/B4dKpJ8Q/loop-bg.jpg"></img>
    </li>
    <li>
    <img class="uk-width-1-1" src="https://i.postimg.cc/xnWzFR42/bus-bg.jpg"></img>
    </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

</div>

<div class="uk-position-relative uk-hidden@s">
<img class="uk-width-1-1" src="https://i.postimg.cc/7LN705v9/loop-bg-portrait.jpg"></img>
</div>

<div class="uk-position-top" style="background-color:rgba(0,0,0,0.5)">
<div class="uk-container">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li><a aria-label="icon" href="/loop/index"><img src="https://i.postimg.cc/nLSLBVDD/Asset-2loop5.png" alt=""></a></li>

                </ul>
            </div>
            <div class="uk-navbar-right uk-light uk-visible@s">
            <ul class="uk-navbar-nav uk-light">
                    <li class="uk-active uk-text-bold"><a href="/loop/index">projects</a></li>
                    <li class="uk-active uk-text-bold"><a href="/loop/about">team</a></li>
                    <li class="uk-active uk-text-bold">
                        <a href="/loop/about">about</a>
                    </li>
            </ul>
            </div>

            <div class="uk-navbar-right uk-light uk-hidden@s">
            <ul class="uk-navbar-nav">
            <li>
            <a class="uk-navbar-toggle" uk-toggle="target: #offcanvas-slide" ratio="2.0" uk-navbar-toggle-icon></a>

            <div id="offcanvas-slide" uk-offcanvas="overlay: true">
            <div class="uk-offcanvas-bar uk-flex uk-flex-column">
            <ul class="uk-nav uk-nav-primary uk-margin-auto-vertical">
                <li class="uk-text-bold uk-active"><a href="/loop/index">LOOP STUDIO</a></li>
                <li class="uk-nav-divider uk-parent">
                    <ul class="uk-nav-sub uk-margin-top">
                    <li><a href="/loop/index">Projects</a></li>
                    <li><a href="/loop/about">Team</a></li>
                    <li><a href="/loop/about">About</a></li>
                    </ul>
                </li>
            </ul>
            </div>
            </div>
            </li>
            </ul>
            </div>
        </nav>
</div>
</div>

<div class="uk-container uk-margin-large-top">
<div class="uk-grid uk-width-expand">

<div class="uk-width-1-3@s uk-margin-medium-bottom">
<article class="uk-article">
    <h4 class="uk-text-bold">ATTITUDE</h4>
    <p>We believe future landscape is the optimized field combining art and high-tech within an environmental-friendly-controlled system, where physical experiences transcends space and time. </p>
</article>
</div>

<div class="uk-width-1-3@s uk-margin-medium-bottom">
<article class="uk-article">
    <h4 class="uk-text-bold">APPROACH</h4>
    <p>At LOOP, we own this power to enlarge the portal of space with different media. We care mind. We care feeling. We care innovation. We create places with infinite possibilities. We design for you, for environment, for future. We bring our mastery of construction to bear on the latest technologies and innovations.</p>
</article>
</div>

<div class="uk-width-1-3@s uk-margin-medium-bottom">
<article class="uk-article">
    <h4 class="uk-text-bold">CULTURE</h4>
    <p>To work effectively in a creative field, the mind needs to be free. At LOOP the work environment is exciting and inspiring. Our team has a diverse set of skills with backgrounds in landscape architecture, environmental art design, agricultural, science, and visual art design. We encourage our designers contribute their intelligence from all disciplines. We also would like to collaborate with artists, scientists, ecologists and all other specialists to expand and activate landscape experience. </p>
</article>
</div>

</div>
</div>

<div class="uk-margin-medium-top uk-margin-medium-bottom">
<div class="uk-container uk-container-center uk-text-center">
    <p>
        <a rel="noopener" target="_blank" aria-label="Github" href="https://github.com/yzyly1992" class="uk-icon-button uk-margin-small-right" ratio="1.1" uk-icon="github"></a>
        <a rel="noopener" target="_blank" aria-label="Instagram" href="https://www.instagram.com/yzyly/" class="uk-icon-button uk-margin-small-right" ratio="1.1" uk-icon="instagram"></a>
        <a rel="noopener" target="_blank" aria-label="Netease" href="https://music.163.com/#/user/home?id=41506683" class="uk-icon-button uk-margin-small-right" ratio="1.2" uk-icon="netease"></a>
        <a rel="noopener" target="_blank" aria-label="Weibo" href="https://www.weibo.com/208883610" class="uk-icon-button uk-margin-small-right" ratio="1.2" uk-icon="weibo"></a>
        <a rel="noopener" target="_blank" aria-label="Linkedin" href="https://www.linkedin.com/in/zhiyuan-yang-9204b8134/" class="uk-icon-button uk-margin-small-right" ratio="1.1" uk-icon="linkedin"></a>
    </p>
    <p class="uk-text-meta" style="line-height: 10px; padding: 10px 0; margin: 8px 0;">Powered by <a href="https://aodabo.tech">LOOP Studio</a> Copyright &copy; 2019.</p>
    <p class="uk-text-meta" style="line-height: 0px; padding: 0px 0; margin: 0px 0;"><a href="https://aodabo.tech/" target="_blank">LOOP Studio</a>. All rights reserved.</p>
</div>
</div>

</body>